.SelectionMenu ul {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    display: none;
  }

  .SelectionMenu .title {
    font-size: 15px;
    cursor: pointer;
  }


  .SelectionMenu.open ul {
    display: block;
  }
  
 .content {
     cursor: pointer;
  
     
 }
 
    
.name:hover{
  border: 2px solid rgb(34, 30, 30);
  width: 173px;
  background-color: rgb(78, 125, 146);
}

.title {
  border: 2px solid rgb(34, 30, 30);
  width: 193px;
  text-align: center;

}

